 *, *::before, *::after{
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

body{
    border-bottom: 2px solid gray;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "curriculo curriculo" 
        "informacoes resumo"
        "habilidades experiencia"
        "idiomas formacao"
        "neutro complemento";
    background-color: lightsteelblue;
}

#cabecalho{
    text-align: center;
    justify-content: center;
    grid-area: curriculo;
    border: 2px solid gray;
}

#informacoes{
    grid-area: informacoes;
}

#resumo{
    grid-area: resumo;
}

#habilidades{
    grid-area: habilidades;
}

#experiencia{
    grid-area: experiencia;
}

#formacao{
    grid-area: formacao;
}

#idiomas{
    grid-area: idiomas;
}

#complemento{
    grid-area: complemento;
    padding-bottom: 2%;
}

#neutro{
    grid-area: neutro;
}

.corpo{
    background-color: antiquewhite;
    padding-left: 5%;
    padding-top: 2%;
}

.principal{
    padding-left: 10%;
    padding-top: 6%;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}