#grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "curriculo curriculo" 
        "informacoes resumo"
        "habilidades experiencia"
        "idiomas formacao"
        "neutro complemento";
}

#cabecalho{
    text-align: center;
    justify-content: center;
    grid-area: curriculo;
    border: 3px gray solid;
}

#informacoes{
    grid-area: informacoes;
    border: 3px gray solid;
}

#resumo{
    grid-area: resumo;
    padding-left: 5%;
    border: 3px gray solid;
}

#habilidades{
    grid-area: habilidades;
    border: 3px gray solid;
}

#experiencia{
    grid-area: experiencia;
    border: 3px gray solid;
}

#formacao{
    grid-area: formacao;
    border: 3px gray solid;
}

#idiomas{
    grid-area: idiomas;
    border: 3px gray solid;
}

#complemento{
    grid-area: complemento;
    border: 3px gray solid;
}